:root{
    --primary: #3bcea3;
    --secondary: #3548ae;
    --dark: #151e1b;
    --light: #f4f6f5;
    --primary-light: #d6f5ec;

    color: var(--dark);
    background-color: var(--light);
}

@font-face {
    font-family: DMSans-Regular;
    src: url(fonts/DMSans-Regular.ttf);
}

@font-face {
    font-family: DMSans-Bold;
    src: url(fonts/DMSans-Bold.ttf);
    font-weight: bold;
}


*{
    box-sizing: border-box;
    font-family: DMSans-Regular;
}

body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

h1, h2, h3, h4, h4, h6 {
    font-weight: bold;
    letter-spacing: 1px;
}

.slide-up {
    animation: slideUp .3s ease-in .5s ;
}

@keyframes slideUp {
    0% {
        opacity: 0.5;
    }
    50% {
        transform: translateX(500px);
    }
}

.bg-primary-light{
    background-color: var(--light);
}

.text-blue{
    color: var(--secondary);
}

.text-black{
    color: var(--dark)!important;
}

.text-green{
    color: var(--primary)!important;
}

.active{
    border-bottom: 2px solid #14b484;
}

.navbar-nav .nav-link:hover{
    border-bottom: 2px solid #14b484;
}

.nav-btn{
    background-color: var(--primary);
    color: var(--light);
}

section{
    /* height: 675px; */
    padding-block: 2rem;
}

.hero-heading, .section-header{
    color: var(--secondary);
    /* margin-bottom: 1.5rem; */
}

.hero-heading{
    font-size: 3.5rem;
}

.desc{
    color: #777;
    max-width: 445px;
    margin-bottom: 1.5rem;
}

.points-wrap{
    grid-template-columns: max-content max-content;
    gap: 1rem 1.5rem;
}

@media (max-width: 579px) {
    .points-wrap{
        grid-template-columns: max-content;       
    }
}

.search-wrap{    
    max-width: 480px;
    justify-items: flex-start;
    align-items: center;
}

.search-btn {
    margin-left: auto;
}

.btn{
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 13px;
}


.my-btn{
    background-color: #3bcea3;
    color: var(--light);
    height: 60px;
    padding:0 35px;
    border-radius: 60px;
}

.my-btn:hover{
    background-color: #14b484!important;
    color: var(--light)!important;
}

.location-input, .search-input{
    width: 120px;
    text-indent: 5px;
    border: none;
}

.search-input-wrap{
    width: 100%;
}

.search-input{
    width: 100%;
    border-left: 1px solid #999;
}

.location-input:focus, .search-input:focus{
    outline: none;
}

.phone-input-wrap{
    grid-template-columns: 32px auto max-content;
    align-items: center;
}

.blog-category{
    font-size: 11px;
    display: block;
}
.phone-input{
    position: relative;
    width: 100%;
    text-indent: 10px;
    border: none;
    border-left: 1px solid #777;
}

.phone-input:focus{
    outline: none;
}

.get-link-btn{
    background-color: #3bcea3;
    display: inline-block;
    color: var(--light);
    height: 44px;
    padding:0 30px;
    border-radius: 44px;
    font-size: 12px!important;
}

.get-link-btn:hover{
    background-color: #14b484!important;
    color: var(--light)!important;
}

.footer{
    background-color: var(--dark);
    color: var(--light);
    padding: 2rem .5rem .5rem;
}

.top-footer{
    margin-bottom: 6rem;
}
.footer-heading{
    font-size: .9rem;
}

.footer-nav{
    margin: 0;
}

.nav{
    padding: 0;
}

.footer-nav a, .text-dimmed{
    color: #aaa;
}

.footer-nav a:hover{
    color: var(--light);
}

.footer  .input-wrap{
    position: relative;    
}

.footer .input-wrap input{   
    height: 44px;
    display: block;
    width: 100%;
    text-indent: 15px;
    border-radius: 48px;
    border: none;
}

.footer .input-wrap .subscribe-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
}

